canvas.paint(id='p1', width='640', height='270')
canvas.mouse(id='p2', width='640', height='270')

div#tools
  button#clear clear
  button#save save

  div(id='brushsize')
  
  input(id='cs',value="#000000",type='text',class="html5jp-cpick [show:0;hide:0;coloring:true]")
  
  div(id='brushgroup')
    input(id='brush1',type='radio',name="bg",value="pen",checked)
    label(for='brush1') ペン
    input(id='brush2',type='radio',name="bg",value="eraser")
    label(for='brush2') 消しゴム
    input(id='brush3',type='radio',name="bg",value="spuit")
    label(for='brush3') スポイト
    input(id='brush4',type='radio',name="bg",value="gnh")
    label(for='brush4') 我那覇響
  
  //
    form(id='bs')
      select#mytextarea(id='select')
        option#pen(value='pen') ペン
        option#eraser(value='eraser') 消しゴム
        option#gnh(value='gnh') 我那覇響
      
  button#log log
